[buildout]
develop = .
extends = versions.cfg
parts = conf
        supervisor
        test
        app-scripts
        flake8

versions = versions
show-picked-versions = true

[ports]
supervisor = 9001

[conf]
recipe = z3c.recipe.filetemplate
files = etc/supervisord.conf

[supervisor]
recipe = zc.recipe.egg:script
relative-paths=true
scripts=supervisord
        supervisorctl
eggs = supervisor
initialization = import sys
                 sys.argv[1:1] = ['-c', '${buildout:directory}/etc/supervisord.conf']

[test]
recipe = zc.recipe.egg:script
scripts = test
entry-points=test=collective.xmltestreport.runner:run
relative-paths=true
eggs = etaui [test]
initialization =
 from gevent import monkey
 monkey.patch_all()
 sys.path.append('${buildout:directory}')
 sys.argv.extend(['--auto-color',
                  '--tests-pattern', '^f?tests$',
                  '--test-path', base,])

[app-scripts]
recipe = zc.recipe.egg:scripts
scripts = monitor
relative-paths=true
eggs = etaui
initialization =
    from gevent import monkey
    monkey.patch_all()

[flake8]
recipe = zc.recipe.egg:script
eggs = flake8
initialization =
    import sys
    if len(sys.argv) == 1:
        sys.argv[1:1] = ['${buildout:directory}/eta', '--ignore=E121,E123,E124,E126,E241,E222,E221']

